<div class="header">
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">BillHive</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#home">Summary</a></li>
            <li><a href="#accounts">Accounts</a></li>
            <li><a href="#graphs">Graphs</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="/logout"><span class="label label-important">Exit Demo</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
<div class="pages"></div>
