<td>
  <h3>
    <a href="#"><%= @bill.get('name') %></a>
    <% for paid in @bill.get('paid'): %>
      <br/><small style="margin-left:10px;">Paid <span style="color:#469947;font-weight:bold;">$<%= paid.amount %></span> on <%= paid.date.format('MMM D') %> <%- '<span class="label label-important">Late</span>' if @bill.get('due_date').sod() < paid.date.sod() %></small>
    <% end %>
  </h3>
</td>
<td>
  <h3>$<%= @bill.get('amount') %></h3>
</td>
<td>
  <h3 style="color:#469947;">$<%= @bill.get('paid').reduce( ((x,y) -> x + y['amount']), 0) %></h3>
  <% if @bill.get('paid').reduce( ((x,y) -> x + y['amount']), 0) == @bill.get('amount'): %>
    <span class="label label-success">Fully Paid</span>
  <% else if @bill.get('paid').reduce( ((x,y) -> x + y['amount']), 0) < @bill.get('amount'): %>
    <span class="label label-info">Under Paid</span>
  <% else if @bill.get('paid').reduce( ((x,y) -> x + y['amount']), 0) > @bill.get('amount'): %>
    <span class="label label-info">Over Paid</span>
  <% end %>
</td>
