<div class="row" style="margin-bottom:10px;">
  <div class="span12">
    <h1><%= @weekData[0].date_sod.format("MMMM") %><small> week <%= @weekData[0].date_sod.format("w") %> </small></h1>
    <div class="pagination pagination-centered">
      <ul>
        <% for day in @weekData: %>
        <li data-date="<%- day.date_sod.format('L') %>" class="cal-day">
          <a href="#">
            <h2 <%- 'style="color:#D14;"' if day.date_sod.day() == 0 or day.date_sod.day() == 6 %> <%- 'id="cal_today"' if day.date_sod.format('L') == moment().format('L') %> >
              <%= day.date_sod.format("D") %>
              <small><%= day.date_sod.format("ddd") %></small>
            </h2>
            <!--$ <%= if day.bills.length > 0 then day.bills.reduce( ((x,y) -> x + y.get('amount')), 0) else 0 %>-->
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>  
</div>
<div class="row">
  <% if @weekSummary.total_paid == 0 and @weekSummary.total_amount == 0: %>
    <div  style="text-align:center;">
      <h1><small>No bills to pay for this week! YAY!</small></h1>
    </div>
  <% else: %>
    <div class="span6">
      <% if @weekSummary.total_paid == 0: %>
        <div style="text-align:center;">
          <h1><small>You didn't pay any bills for this week yet...</small></h1>
        </div>
      <% else: %>
        <h1><small>You have paid </small><span style="color:#469947;"> $<%= @weekSummary.total_paid %> </span> <small>this week</small></h1>
        <table class="table" style="margin-top:10px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody class="paid-bills-table"></tbody>
        </table>
      <% end %>
    </div>
    <div class="span6">
      <% if @weekSummary.total_amount == 0: %>
        <div style="text-align:center;">
          <h1><small>You've paid all bills for this week! YAY!</small></h1>
        </div>
      <% else: %>
        <h1><small>You have </small> <span style="color:#F89406;"> $<%= @weekSummary.total_amount %> </span> <small>left to pay</small></h1>
        <table class="table"  style="margin-top:10px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="unpaid-bills-table"></tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
<hr/>
